@{
    ViewData["Title"] = "Home Page";
}

<h1>Demeter.IdentityComponent demo running.</h1>
<hr />
<h3>Current login state:<span style="color: red">@ViewBag.LoginState</span></h3>
<h3>Current user name:<span style="color: red">@ViewBag.UserName</span></h3>
<h3>Current user's address:<span style="color: red">@ViewBag.Address</span></h3>
<h3>Current user's real name:<span style="color: red">@ViewBag.RealName</span></h3>